@{
    ViewData["Title"] = "Домашня сторінка";
}

<div class="jumbotron">
    <h1>Готель Скоробагатько К.О.</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Ласкаво просимо до готелю Скоробагатько К. О.</h2>
        <p>
            Це надзвичайна сторінка, яка допоможе
            абсолютно безболісно
            насолодитись кращим готелем в світі.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Цікавить код ?</h2>
        <p>Ви маєте змогу завантажити проект через гітхаб.</p>
        <p><a class="btn btn-default" href="https://github.com/aspnet/Docs/tree/master/aspnetcore/data/ef-mvc/intro/samples/cu-final">Звісно цікавить! &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Цікавить навіщо це ?</h2>
        <p>А я теж не знаю, підпишіться на мій інстаграм!</p>
        <p><a class="btn btn-default" href="https://www.pictame.com/user/karina_lagrange/964942371">Перегляд інсти &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Балкони недорого</h2>
        <p>Зробимо вам балкон за ваші шалені гроші</p>
        <p>(Дзвоніть на нашу гарячу лінію, або ж навіть краще просто викиньте гроші в смітник, якщо у вас є стільки лишніх</p>
    </div>
    <div class="col-md-4">
        <h2>Допомога розробнику !</h2>
        <p>Скиньте гроші на крату, я хочу їсти, а ще котів нема чим годувати(</p>
        <p><a class="btn btn-default" href="https://www.pictame.com/user/karina_lagrange/964942371">Накормити котиків &raquo;</a></p>
    </div>
</div>
