@{
    ViewData["Title"] = "Для Омельчук";
}
<h1>@ViewData["Title"]</h1>

<p>Да, це моя лаба</p>
<p>Да, тут є сортування, пошук, авторицація та формування xml, що ще треба для щастя ?</p>
<del>Я задовб</del> <ins>Дуже втомилась</ins>
<p>Тому до вас є питання:</p>
<form action="#">
    <h6>А ви любите спати?</h6>
    <input type="radio" id="id1" />
    <label for="id1">Так</label>
    <br />
    <input type="radio" id="id2" />
    <label for="id2">Ні</label>
    <br />
    <input type="radio" id="id3" />
    <label for="id3">Я пишу лаби Омельчук</label>
</form>
<marquee behavior="alternate" direction="right">А це просто мої літери, що бігають, да</marquee>
<q>Ваш лучший источник знаний о бизнесе – это ваш недовольный клиент.</q>-Билл Гейтс
